
*{
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom:0px solid black;            
}

header img{
    padding-left: 4%;
    padding-bottom: 1.5%;
    
    
}
header button{
    text-align: center;
    padding: 0.5% 0% 0.5% 0%;
    width: 100px;
    border-radius: 100px;
    float: right;
    margin: 20px 1% 0% 1%;
    background-color: rgb(54, 145, 175);
    color: white;
    font-size: 20px;
    
}
header button:hover{
    background-color: #089247
}
body{  
    border:0px solid black;
    height: 100%;

}
.navbar {
    overflow: hidden;
    width: 100%;
    position:sticky;
    top: 0;
   
}
nav{
    text-align: center;
    border-top: 2px solid #0172BA;
    border-bottom: 2px solid #0172BA;
    background-color: #ECF7FE;
    position:sticky;
    top:0;
    width: 100%;
    }

nav .span{                  
    border: 3px solid #0172BA;
    margin: 0.8%;
    font-size:15px;   
    padding: 0.5% 1.8% 0.5% 1.8%;        
    background-color: white;
    border-radius: 55px 0px;
    color: #0172BA ;  
}
nav a{
    text-decoration: none;
}

nav li{
    display: inline-block;
    
}

h1{
    background-color: #078cde;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 25px;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-top: 5%;
}
.hiking{
    margin-right: 1%;
    margin-top: 1.5%;
    
}
.part1{
    width:27%;
    float: Left;
    border-left: 0px solid black;       
}
.part1 section{
    padding-left: 25%;
    font-family: calibri;
    font-size:1em;
}

.part1 p{
   
    margin-right: 4%;
   
}

.part2{
    width: 50%;
    float: left;
    height: 100%;
   
  
}
.hiking{
    font-family: calibri;
    margin-left: 1.5%;
    
}
.part2{
    font-size:16.2px;
    font-family: calibri;
    float: left;
    
}
.part2 .img{
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    margin-top: 1.5%;
}
.part2 .img2{
    float: right;
    margin-left: 0%;
    margin-right: 3.5%;
    margin-top: 0.5%;
}
.part2 .p1{
    
    margin-right: 2%;
}
.part2 .p2{
    margin-left: 1.5%;
    margin-right: 2%;
}
.part3 img{
    margin-left: 5%;
    margin-top: 5%;
    
}
.part3 .grey{
    margin-top: 15%;
}
.part3{
    width: 22%;
  
    float: left;
    border-right: 0px solid black;
}

.table{
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 1%;
    padding-bottom: 5%;
    border: 1px solid black ; 
    background-color: #078cde53;
    
}
.head{
    width: 100%;
    text-align: center;
}
.head{
    font-size:25px;
    font-weight: bold;
}
.tablep1{
    border-right: 1px solid black ;
    width: 49.5%;
    float: left;
    margin-top: 3%;
    height: 90%;
    
    
}
.tablep1 p{
    padding: 0% 5% 5% 5%;
    font-size:20px;
    font-weight: bold; 
}
.tablep1 ul{
    padding: 0% 10%;
}
.tablep2{
  

    margin-top: 3% ;
    height:90%;

  
}
.tablep2 p{
    padding: 0% 5% 3% 5%;
    font-size:20px;
    font-weight: bold;
    margin-left: 49%; 
}
.tablep2 ul{
    margin-left: 55%;
}
.gallery{
    text-align:center;
    width:100%; 
    height:30px;
    
}


.flexitem
{

    padding-left:2%;
    padding-right:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.flexitem figure{
    margin: 0;
    float: left;
    padding:0.5% 0% 0.5% 0% ;
    margin-right: 1%;
    margin: 4px;
    border: 1px solid black;
    
    

}
.foot{
    width: 100%;
    background-image: url(images/newhampshire.jpg);
    background-repeat: no-repeat;
    background-image: url(images/newhampshire.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
   
   
}

footer{    
   
    display: grid;
  
    
    padding: 0em 0em 0em 3em; 
}

footer p{
    padding: 0%;
    margin: 0%;
}

.underline{
    border-bottom: 1px solid #0172BA;
    margin: 0;
}

.About_us {
    grid-column: 1;
}

.Travel_time{
    color: #0172BA;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: x-large;
    margin-top:-20% ;
    margin-right: 50%;
   
}

.Travel_time h5{
    margin: 0;
}

.Seminar{
    grid-column: 3;
    grid-row: 1;
    padding-bottom: 10em;
}

.countries{
    grid-column: 3;
    grid-row: 2;
}
            